/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

/* * {
    outline: 1px dotted black;
} */

/* Global. Site. Base. Universal. */

h1 {
  font-size: 5em;
  text-align: center;
  text-transform: uppercase;
}


nav li{
  list-style: none;
  display: inline-block;
  padding: 10px;
}

nav li a{
  text-decoration: none;
}

/* Homepage */

.home{
  background: url('/assets/images/SPace\ by\ me\ ver2!!.png');
  background-repeat: no-repeat;
  background-position: left center; 
}

.title{
  color: #A297CF;
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: flex-end;
  align-content: flex-end;
}

/* About */

.about{
  background: turquoise;
}

/* Contact */

.contact{
  background: thistle;
}

/* Portfolio */

.portfolio{
  background: tomato;
}

figure{
  width: 200px;
  padding: 1em;
  background: red;
  display: inline-block;
}