/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

/* * {
    outline: 1px dotted black;
} */

/* Global. Site. Base. Universal. */

h1 {
  font-size: 5em;
  text-align: center;
  text-transform: uppercase;
}


nav li{
  list-style: none;
  display: inline-block;
  padding: 10px;
}

nav li a{
  text-decoration: none;
}

body{
  background: #000;
}

/* Homepage */

.home{
  background: url('/assets/images/SPace\ by\ me\ ver2!!.png');
  background-repeat: no-repeat;
  background-position: left center; 
}

.title{
  color: #A297CF;
  display: flex;
  flex-direction: column;
  width: 50%;
}

/* About */


/* Contact */


/* Portfolio */

.portfolio h1{
  color: #A297CF;
}

.portfolio img{
  width: 100%;
}

article{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

figure{
  width: 200px;
  padding: 1em;
  background: #A297CF;
}